/* This css file is for the Cart page */
/* Reset some default styles for all elements */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Style for the body element, including background image and overlay */
body {
  background: #fff;
  margin: 0;
  background-image: url("../img/rest.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

/* Create a semi-transparent overlay over the background image */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Style for the header section, including navigation */
header {
  width: 100%;
  height: 80px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px;
}

/* Style for the logo image in the header */
.logo img {
  position: absolute;
  top: 3px;
  left: 40px;
  width: 120px;
  height: auto;
}

.nav-bar {
  padding-left: 80px;
}

/* Style for the navigation bar and its list items */
.nav-bar ul {
  display: flex;
}

.nav-bar ul li.nav-item a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

/* Style for the shopping bag icon image in the navigation bar */
.shopping-bag img {
  width: 30px;
  height: auto;
}

/* Style for navigation links on hover */
.nav-bar ul li.nav-item a:hover {
  color: #11101b;
  background: #fefefe;
}

/* Style for navigation links' images on hover */
.nav-bar ul li.nav-item a:hover img {
  filter: invert(100%);
}

/* Style for navigation links when active */
.nav-bar ul li.nav-item a:active {
  color: #11101b;
  background: #fefefe;
}

/* Reset margin and padding for specific HTML elements */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* for centering table */
.cart-page {
  margin: 80px auto;
}

/* text color */
p,
small {
  color: rgba(255, 255, 255, 0.726);
}

/* table modifications */
table {
  width: 100%;
  border-collapse: collapse;
}

/* item arrangements */
.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  color: #333;
  padding: 10px;
  text-align: left;
}

/* header customizations */
th.cartHeader {
  text-align: left;
  padding: 5px;
  color: rgba(255, 255, 255, 0.726);
  background-color: #ff523b;
  font-weight: normal;
}

/* table data modifications */
td {
  padding: 10px 5px;
  border: 1px solid #333;
  color: #333;
  font-weight: bold;
  background-color: rgb(156, 47, 17, 0.2);
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

td a {
  color: #9dedd9;
  font-size: 12px;
}

/* text color for totals */
.itemSubTotal {
  color: rgba(255, 255, 255, 0.726);
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}

/* shift totals on bottom right */
td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.finalTotal {
  color: rgba(255, 255, 255, 0.726);
}

/* button styling subject to change */
#checkoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 2px;
  padding: 0.5em;
  font-size: 2em;
  border-radius: 30%;
  position: relative;
  background-color: #ff523b;
  color: white;
}

/* responsiveness */
@media only screen and (max-width: 600px) {
  .cart-info p {
    display: none;
  }
}
