 /* This css file is for the Cart page */

 /* for centering table */
 html,
 body {
     height: 100%;
 }

 /* for centering table */
 html {
     margin: auto;
 }

 /* for centering table */
 body {
     margin-left: 25%;
     margin-right: 25%;
 }

 /* for centering table */
 .cart-page {
     margin: 80px auto;
 }

 /* text color */
 p,
 small {
     color: rgba(255, 255, 255, 0.726);
 }

 /* table modifications */
 table {
     width: 100%;
     border-collapse: collapse;
 }

 /* item arrangements */
 .cart-info {
     display: flex;
     flex-wrap: wrap;
 }

 /* header customizations */
 th.cartHeader {
     text-align: left;
     padding: 5px;
     color: rgba(255, 255, 255, 0.726);
     background-color: #ff523b;
     font-weight: normal;
 }

 /* table data modifications */
 td {
     padding: 10px 5px;
 }

 td input {
     width: 40px;
     height: 30px;
     padding: 5px;
 }

 td img {
     width: 80px;
     height: 80px;
     margin-right: 10px;
 }

 td a {
     color: #9dedd9;
     font-size: 12px;
 }

 /* text color for totals */
 .itemSubTotal {
     color: rgba(255, 255, 255, 0.726);
 }

 .total-price {
     display: flex;
     justify-content: flex-end;
 }

 .total-price table {
     border-top: 3px solid #ff523b;
     width: 100%;
     max-width: 400px;
 }

 /* shift totals on bottom right */
 td:last-child {
     text-align: right;
 }

 th:last-child {
     text-align: right;
 }

 .finalTotal {
     color: rgba(255, 255, 255, 0.726);
 }

 /* button styling subject to change */
 #checkoutBtn {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 button {
     margin: 2px;
     padding: 0.5em;
     font-size: 2em;
     border-radius: 30%;
     position: relative;
     background-color: #ff523b;
     color: white;
 }

 /* responsiveness */
 @media only screen and (max-width: 600px) {
     .cart-info p {
         display: none;
     }
 }