/* Reset some default styles for all elements */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Style for the body element, including background image and overlay */
body {
  background: #fff;
  margin: 0;
  background-image: url("../img/rest.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Create a semi-transparent overlay over the background image */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Style for the header section, including navigation */
header {
  width: 100%;
  height: 80px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px;
}

/* Style for the logo image in the header */
.logo img {
  position: absolute;
  top: 3px;
  left: 40px;
  width: 120px;
  height: auto;
}

.nav-bar {
  padding-left: 80px;
}

/* Style for the navigation bar and its list items */
.nav-bar ul {
  display: flex;
  align-items: flex;
}

.nav-bar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

/* Style for the shopping bag icon image in the navigation bar */
.shopping-bag img {
  width: 30px;
  height: auto;
}

/* Style for navigation links on hover */
.nav-bar ul li a:hover {
  color: #11101b;
  background: #fefefe;
}

/* Style for navigation links' images on hover */
.nav-bar ul li a:hover img {
  filter: invert(100%);
}

/* Style for navigation links when active */
.nav-bar ul li a:active {
  color: #11101b;
  background: #fefefe;
}

/* Media query for smaller screens adjusting header padding */
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

/* Media query for even smaller screens further adjusting header padding */
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

/* Reset margin and padding for specific HTML elements */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

label {
  font-size: larger;
}

.form-container {
  position: relative;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}

form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 100%; /* Make sure it doesn't exceed the width of the container */
  max-height: 80vh; /* Adjust as needed */
  height: 750px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

button {
  background-color: #e64a19;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: larger;
}

/* Center the form on smaller screens */
@media only screen and (max-width: 480px) {
  form {
    width: 80%;
  }
}
